
        <!-- <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css" />
<link rel="stylesheet" href="../../assets/css/owl.theme.default.min.css" /> -->

<!-- prelaoder -->
	<!-- <div id="preloader">
    <div class="preloader-wrapper">
        <div class="spinner"></div>
    </div>
  <div class="preloader-cancel-btn">
        <a href="#" class="btn btn-secondary prelaoder-btn">Cancel Preloader</a>
    </div> 
</div> -->
	<!-- END prelaoder -->
  <div class="header header-transparent nav-sticky">
    <!-- header section -->
    <header class="xs-header header-main">
 
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="xs-logo-wraper">
                    <a class="xs-logo" (click)="fun()" style="cursor: pointer;">
                        <img src="assets/logo.png" alt="" class="logo-transparent">
                        <img src="assets/logo.png" alt="" class="logo-sticky">
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <nav class="xs-menus align-to-right">
                    <div class="nav-header">
                        <a class="nav-brand" href="index.html"></a>
                        <div class="nav-toggle"></div>
                    </div>
                    <div class="nav-menus-wrapper">
                        <ul class="nav-menu align-to-right single-page-menu">
                            <li><a href="#verify">TRY</a></li>
                            <li><a href="#about">ABOUT</a></li>
                            <li><a href="#service">SERVICE</a></li>
                            <li><a href="https://github.com/namsor/phone-validation">GITHUB</a></li>
                            <li><a href="https://v2.namsor.com/NamSorAPIv2/apidoc.html#/social/phoneCode">API DOC</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-lg-2 col-md-6">
                <ul class="xs-menu-tools">
                    <!-- <li>
                        <a href="#modal-popup-1" class="languageSwitcher-button xs-modal-popup">
                            <span class="xs-flag" style="background-image: url(assets/images/flags/006-united-states.svg);"></span>
                            <span class="lang-title">EN</span>
                        </a>
                    </li> 
                    <li>
                        <a href="#" class="offset-side-bar"><i class="icon icon-online-shopping-cart"></i></a>
                    </li>-->
                    <li>
                        <a href="#modal-popup-2" class="navsearch-button xs-modal-popup"><i class="icon icon-search"></i></a>
                    </li>
                </ul>
            </div>
        </div><!-- .row END -->
            </div>
        </header>  
        </div><!-- .navSidebar-wraper END -->
   <!--</div> .container END -->
  <!-- End header section 
</div>-->

    <!--===preloader -->