<!-- <script src="../../assets/js/owl.carousel.min.js"></script> -->
<footer class="xs-footer-section">  
  <div class="footer-main">
      <div class="container">          
      </div>
  </div><!-- .footer-main END -->
  <div class="partner-area-wraper">
      <div class="container">          
      </div>
  </div><!-- partner-area-wraper. END -->
  <div class="copyright">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="copyright-text">
				      <p> Copyright © 2019 <a routerLink="/home">NamSor</a> is a French Limited Liability Company, Reg. 81148844400019 - VAT FR84811488444 - Data Reg. 1876223 |
					    <a href="assets/pdf/201803_NamSor_API_Terms_v007.pdf" target="top" class="text-gray mrg-right-15">Term &amp; Conditions</a> | 
						<a href="assets/pdf/NamSor_Data_Processing_Agreement_v007.pdf" target="top" class="text-gray">DPA</a> |
						<a href="https://v2.namsor.com/NamSorAPIv2/contact.html">contact@namsor.com</a>
					  </p>
                  </div><!-- .copyright-text END -->
              </div>
              <div class="col-md-6">
                  <ul class="social-list">
                      <li><a href="https://twitter.com/namsor_com" class="twitter"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="https://fr.linkedin.com/company/namsor" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div><!-- .copyright END -->
</footer>
