.round-info-icon {
    display: block;
    @include equal-size-lineHeight(46px);
    border: 1px solid #e7e7e7;
    border-radius: 50%;
    font-size: rem(14px);
    color: $color-black;
    text-align: center;
    &:hover {
        background-color: $color-primary;
        color: $color-white;
        border-color: $color-primary;
    }
}

.floating-btn-wraper {
    position: relative;
}

.btn-floating {
    &.active {
        background-color: $color-black;
        color: $color-white;
    }
}

.floating-icons-list {
    position: absolute;
    bottom: 100%;
    right: 0;
    text-align: center;
}

$menu-items: 5;
$i: 1;
@while $i <= $menu-items {
  .floating-icons-list {
    &.open {
        > li {
            &:nth-child(#{$i}) {
                transition: all .5s cubic-bezier(0.680, -0.550, 0.265, 1.550) $i*0.1s;
            }
        }
    }
    &.hidden {
        > li {
            &:nth-child(#{$i}) {
                transition: all .5s cubic-bezier(0.680, -0.550, 0.265, 1.550) ($menu-items - $i + 1)*0.1s;
            }
        }
    }
  }
  $i: $i + 1;
}

.floating-icons-list {
    > li {
        margin-right: 0;
        margin-bottom: 20px;
        opacity: 0;
        transform: scale(0.4) translateY(40px) translateX(0px);
        visibility: hidden;
    }
    &.open {
        > li {
            visibility: visible;
            opacity: 1;
            transform: scale(1) translateY(0px) translateX(0px);
        }
    }
}