.post-navigation {
    background-color: $color-white;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 60px 50px;
    margin-bottom: 60px;
    .post-title {
        font-size: rem(14px);
        font-weight: 400;
        margin-bottom: 0px;
        @include transition;
    }
    [class^="col-"] {
        + [class^="col-"] {
            .single-post-nav {
                text-align: right;
                margin-right: 0px;
                margin-left: 30px;
                .post-nav-img {
                    margin-right: 0px;
                    margin-left: 20px;
                }
                > .media {
                    flex-direction: row-reverse;
                }
            }
        }
    }
}
.single-post-nav {
    display: block;
    margin-right: 30px;
    .post-nav-title {
        margin-bottom: 25px;
        font-size: rem(18px);
        color: $color-primary;
        font-family: $bodyFont;
        font-weight: 700;
        @include transition;
        &.icon-left {
            > i {
                padding-right: 10px;
                float: left;
            }
        }
        &.icon-right {
            > i {
                float: right;
                padding-left: 10px;
            }
        }
    }
    &:hover {
        .post-nav-title {
            color: $color-secondary;
        }
        .post-title {
            color: $color-primary;
        }
        .post-nav-img {
            opacity: .8;
        }
    }
}
.post-nav-img {
    border-radius: 5px;
    margin-right: 20px;
    @include transition;
}

$border: 2.5px solid;
.post-previous {
    border-right: $border;
}
.post-next {
    border-left: $border;
}
.post-previous,
.post-next {
    border-color: #f5f5f5;
}