.contact-form {
    .form-control {
        border: 1px solid rgba($color: $color-white, $alpha: .07);
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.251);
        height: 49px;
        margin-bottom: 20px;
        padding-left: 20px;
    }
    textarea.form-control {
        resize: none;
        height: 85px;
        padding-top: 10px;
    }
    .submit-btn {
        border: 1px solid $color-primary;
        border-radius: 3px;
        height: 49px;
        background-color: transparent;
        color: $color-white;
        padding: 0px 28px;
        cursor: pointer;
        @include transition;
        &:hover {
            background-color: $color-white;
            color: $color-primary;
            border-color: $color-white;
        }
    }
}