.single-blog-post {
    .entry-content {
        margin-bottom: 35px;
    }
    .post-body {
        padding: 60px 50px;
        .entry-header {
            .entry-meta {
                margin-bottom: 50px;
            }
        }
    }
    .entry-content {
        > p {
            margin-bottom: 30px;
        }
    }
    blockquote {
        margin-bottom: 45px;
    }
    .xs-list {
        padding-left: 20px;
    }
    .post-footer {
        .divider {
            margin-bottom: 30px;
        }
        .post-tags {
            margin-bottom: 30px;
        }
        .btn-floating {
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.12);
            border: 1px solid #f7f7f7;
            background-color: $color-white;
        }
        .social-list {
            li {
                a {
                    @include equal-size-lineHeight(40px, $Lheight: 37px);
                }
            }
        }
    }
}

.post-tags {
    > span {
        color: $color-primary;
        padding-right: 8px;
    }
    > a {
        color: $color-black;
        &:hover {
            color: $color-primary;
        }
        &:not(:last-child) {
            margin-right: 2px;
            &::after {
                content: ",";
            }
        }
    }
}