.single-funfact {
    > span {
        font-size: rem(48px);
        font-family: $titleFont;
        color: $color-black;
        font-weight: 700;
        letter-spacing: letter-spacing(-25, 48);
        display: inline-block;
        line-height: 1;
        margin-bottom: 20px;
    }
    p {
        font-family: $titleFont;
    }
}
.funfact-wraper {
    margin-bottom: 40px;
    [class*=col-] {
        &:not(:last-child) {
            .single-funfact {
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: rgba($color: $color-black, $alpha: .07);
                    width: 3px;
                    height: 50px;                      
                }
            }
        }
    }
}