.why-choose-us-block {
    text-align: center;
    padding: 0 35px;
    p {
        margin-bottom: 0px;
    }
}
.choose-us-img {
    min-height: 145px;
    margin-bottom: 38px;
    margin-left: 23px;
}