<!-- <script src="../../assets/js/owl.carousel.min.js"></script> -->
<footer class="xs-footer-section">
  <div class="container">
      <div class="footer-top-area">
          <div class="row">
              <div class="col-md-4">
                  <div class="footer-logo">
                      <a href="index.html">
                          <img src="assets/images/footer-logo.png" alt="">
                      </a>
                  </div><!-- .footer-logo END -->
              </div>
              <div class="col-md-8">
                  <ul class="address-info-list list-inline">
                      <li>
                          <div class="address-icon">
                              <img src="assets/images/pin.png" alt="">
                          </div>
                          <div class="address-info"><a href="https://www.google.com/maps/place/1010+Grand+St,+Brooklyn,+NY+11211,+USA/@40.7133521,-73.9370686,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25954b2d0b20d:0xb03e8d55cdb687bc!8m2!3d40.7133521!4d-73.9348799">1010 Grand Avenue <br> New York, USA</a></div>
                      </li>
                      <li>
                          <div class="address-icon"><img src="assets/images/massage.png" alt=""></div>
                          <div class="address-info"><a href="tel:009-215-5596">009-215-5596</a> ( Toll free ) <br> <a href="mailto:info@example.com">info@example.com</a></div>
                      </li>
                  </ul><!-- .address-info-list END -->
              </div>
          </div>
      </div><!-- .footer-top-area END -->
  </div>
  <div class="footer-main">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-lg-3">
                  <div class="footer-widget">
                      <h4 class="xs-content-title">Company</h4>
                      <ul class="xs-lsit">
                          <li><a href="about.html">About us</a></li>
                          <li><a href="#">Partners</a></li>
                          <li><a href="#">Case Studies</a></li>
                          <li><a href="#">Our Team</a></li>
                          <li><a href="#">Career</a></li>
                          <li><a href="contact.html">Contact</a></li>
                      </ul>
                  </div><!-- .footer-widget END -->
              </div>
              <div class="col-md-6 col-lg-3">
                  <div class="footer-widget">
                      <h4 class="xs-content-title">Services</h4>
                      <ul class="xs-lsit">
                          <li><a href="#">Real Time Analytics</a></li>
                          <li><a href="#">Online Marketing</a></li>
                          <li><a href="#">SEO Services</a></li>
                          <li><a href="#">Pay Per Click</a></li>
                          <li><a href="#">Email Marketing</a></li>
                          <li><a href="#">Advertisement</a></li>
                      </ul>
                  </div><!-- .footer-widget END -->
              </div>
              <div class="col-md-6 col-lg-3">
                  <div class="footer-widget">
                      <h4 class="xs-content-title">Articles</h4>
                      <ul class="articles-list">
                          <li>
                              <a class="entry-title" href="blog-single.html">Twice profit than before you ever</a>
                              <span class="entry-meta"><i class="icon icon-clock"></i> January 14, 2018</span>
                          </li>
                          <li>
                              <a class="entry-title" href="blog-single.html">Twice profit than before you ever</a>
                              <span class="entry-meta"><i class="icon icon-clock"></i> January 14, 2018</span>
                          </li>
                          <li>
                              <a class="entry-title" href="blog-single.html">Twice profit than before you ever</a>
                              <span class="entry-meta"><i class="icon icon-clock"></i> January 14, 2018</span>
                          </li>
                      </ul><!-- .articles-list END -->
                  </div><!-- .footer-widget END -->
              </div>
              <div class="col-md-6 col-lg-3">
                  <div class="footer-widget">
                      <h4 class="xs-content-title">Request a quote</h4>
                      <form action="#" class="contact-form" method="post">
                          <input type="email" name="email" placeholder="Email" class="form-control">
                          <textarea name="message" class="form-control" placeholder="Message" cols="30" rows="10"></textarea>
                          <input type="submit" value="Submit now" class="submit-btn">
                      </form>
                  </div><!-- .footer-widget END -->
              </div>
          </div>
      </div>
  </div><!-- .footer-main END -->
  <div class="partner-area-wraper">
      <div class="container">
          <div class="partner-area">
              <div class="row">
                  <div class="col-md-8">
                      <ul class="xs-lsit list-inline">
                          <li class="title">PARTNERSHIP :</li>
                          <li><img src="assets/images/partner/partner-1.png" alt=""></li>
                          <li><img src="assets/images/partner/partner-2.png" alt=""></li>
                          <li><img src="assets/images/partner/partner-3.png" alt=""></li>
                          <li><img src="assets/images/partner/partner-4.png" alt=""></li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <ul class="xs-list list-inline text-right">
                          <li><img src="assets/images/card/visa.png" alt=""></li>
                          <li><img src="assets/images/card/master-card.png" alt=""></li>
                          <li><img src="assets/images/card/discover.png" alt=""></li>
                          <li><img src="assets/images/card/american-express.png" alt=""></li>
                      </ul>
                  </div>
              </div>
          </div><!-- .partner-area END -->
      </div>
  </div><!-- partner-area-wraper. END -->
  <div class="copyright">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="copyright-text">
                      <p>Copyright &copy; 2019, All Right Reserved <a routerLink="/home">NamSon</a></p>
                  </div><!-- .copyright-text END -->
              </div>
              <div class="col-md-6">
                  <ul class="social-list">
                      <li><a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="https://bd.linkedin.com/" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="https://www.instagram.com/" class="instagram"><i class="fa fa-instagram"></i></a></li>
                      <li><a href="https://plus.google.com/discover" class="googlePlus"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div><!-- .copyright END -->
</footer>
