/* xs pagination */
.pagination {
    // margin-top: 20px;
	li {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 20px;
        }
        a {
            @include equal-size-lineHeight(50px);
            @include transition;
            padding: 0;
            border-radius: 100%;
            text-align: center;
            color: #676767;
            font-weight: 500;
            box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.07);
            background-color: $color-white;
            border: 0px;
        }
        a:hover,
        &.active a {
            background-color: $color-primary;
            color: $color-white;
        }
        > span {
            letter-spacing: 7px;
            position: relative;
            top: 7px;
        }
    }
    .page-item:first-child .page-link ,
    .page-item:last-child .page-link {
        border-radius: 100%;
    }
    .page-item:last-child .page-link {
        font-size: rem(12px);
    }
    .page-item.disabled a,
    li a {
        border-color: #f1f1f1;
    }
}

/* blog grid sidebar pagination */
.blog-inner-page {
    .pagination {
        margin-top: 30px;
    }
}