
<!-- get free quote section -->
<section class="primary-bg xs-section-padding free-quote-area" style="padding: 120px 0;" data-delighter="start:0.3" id="verify">
    <div class="container">
      <!-- .row END -->
        <div class="row">
            <div class="col-lg-7 mx-auto">
   <div class="row">
            <div class="col-lg-12 mx-auto">
                    <div class="xs-heading text-center">
                            <h2 class="section-subtitle">Phone Number API is Ready to Check</h2>
                            <h3 class="section-title ">Verify any global phone number</h3>
                        </div><!-- .xs-heading END -->
                <form [formGroup]="form" (ngSubmit)="register()" class="xs-inline-form">
                    <div class="row no-gutters">
                        <div class="col-lg-4">
                            <input type="text" formControlName="fname" id="fname" placeholder="First-Name" class="form-control" style=" border-right: 0.5px solid lightsteelblue;">
                            <div *ngIf="fname.touched && fname.invalid">
                                <div *ngIf="fname.errors.required" style="color: white">First Name is required.</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" formControlName="lname" id="lname" placeholder="Last-Name" class="form-control" style=" border-right: 0.5px solid lightsteelblue;">
                            <div *ngIf="lname.touched && lname.invalid">
                                <div *ngIf="lname.errors.required" style="color: white">Last Name is required.</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" formControlName="number" id="number" placeholder="Phone-Number" class="form-control">
                            <div *ngIf="number.touched && number.invalid" style="color: white">
                                <div *ngIf="number.errors.required">Number is required.</div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" name="submit" value="Check" class="check-btn">
                </form>
                <span *ngIf="iserror">
                    <div class="error" style="color: black; font-size: 2em; font-family: cursive;">
                        <p>Phone Couldn't be <span style="color: red;">Verified!</span></p>
                    </div>
                </span><br>
                <span [ngClass]="{'hidden':pro}" style="color: white; margin-top: 5px;">
					<h1>
                            <img src={{flagImg}} style="height: 50px;"/>&nbsp; : &nbsp;{{resdata?.internationalPhoneNumberVerified || ""}}
					</h1>
                </span>
                <div class="typography-group">
                    <h4 class="mt-4" style="color: white;">What's the magic ?</h4>
                    <p style="color: white; font-size: 12px;" class="mt-2">
                        NamSor phoneCode <a href="https://v2.namsor.com/NamSorAPIv2/apidoc.html#/social/phoneCode" target="top">API</a> predicts the phone's country code, based on both personal name origin / ethnicity and phone number formatting. Then it calls Google's phone validation (googlei18n/libphonenumber). 
						Try different local formats, it should still work!
                    </p>
                </div>
            </div>
        </div><!-- .row END -->
            </div>
            <div [ngClass]="{'hidden': pro, 'col-lg-5': true, 'mx-auto': true}" style="border-left: 2px solid white;">
                    <div class="single-blog-post-thumb">
                         
                            <div class="post-body" style=" padding: 1em !important; padding-bottom: unset !important;">


<!-- pricing section -->

    
       <!-- .row END -->
        <div class="row">
            <div class="col-md-12 xs-pricing-group">
                <ul class="nav nav-tabs main-nav-tab tab-swipe" role="tablist" style="margin-bottom: 1em !important;">
                    <li>
                        <a id="formatted-tab" class="show isActive" data-toggle="tab" href="#formatted" role="tab" aria-controls="formatted" aria-selected="true" style="color: #ffd24c;">Formatted</a>
                    </li>
                    <li>
                        <a id="json-tab" data-toggle="tab" href="#json" role="tab" aria-controls="json" aria-selected="false" style="color: #ffd24c;">(JSON)</a>
                    </li>
                  
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fadeIn animated show active" id="formatted" role="tabpanel" aria-labelledby="formatted-tab">
                        <div class="row">
                            
                            
                            <div class="col-lg-12 col-md-12">
                                
                            
                                    <div class="pricing-body">
                                    <!-- HERE START FORMATTED TABLE -->
                                    <table class="table table-sm table-hover" style="margin-bottom: unset;">
                                  
                                        <tbody style="color: black;">
                                            <tr><td><strong>Fields</strong></td><td><strong>Records</strong></td></tr>
                                                   <tr><td scope="col">firstName</td> <td scope="col">{{resdata?.firstName || ""}}</td> </tr>
                                                   <tr><td scope="col">lastName</td><td scope="col">{{resdata?.lastName || ""}}</td> </tr>
                                                   <tr><td scope="col">phoneNumber</td> <td scope="col">{{resdata?.phoneNumber || ""}}</td> </tr>
                                                   <tr><td scope="col">internationalPhoneNumberVerified</td><td scope="col">{{resdata?.internationalPhoneNumberVerified || ""}}</td> </tr>
                                                   <tr><td scope="col">verified</td>  <td scope="col">{{resdata?.verified || ""}}</td></tr>                                     
                                                   <tr><td scope="col">phoneCountryCode</td> <td scope="col">{{resdata?.phoneCountryCode || ""}}</td> </tr>
                                                   <tr><td scope="col">phoneCountryIso2</td>  <td scope="col">{{resdata?.phoneCountryIso2 || ""}}</td> </tr>
                                                   <tr><td scope="col">phoneCountryIso2Alt</td>  <td scope="col">{{resdata?.phoneCountryIso2Alt || ""}}</td> </tr>
                                                   <tr><td scope="col">phoneCountryIso2Verified</td>  <td scope="col">{{resdata?.phoneCountryIso2Verified || ""}}</td> </tr>
                                                   <tr><td scope="col">originCountryIso2</td> <td scope="col">{{resdata?.originCountryIso2 || ""}}</td> </tr>
                                                   <tr><td scope="col">originCountryIso2Alt</td> <td scope="col">{{resdata?.originCountryIso2Alt || ""}}</td> </tr>
                                                   <tr><td scope="col">score</td> <td scope="col">{{resdata?.score || ""}}</td> </tr>
                                        </tbody>
                                      </table> 

                                <!-- HERE END FORMATTED TABLE -->    
                                </div><!-- .pricing-body END -->
                               
                          
                             <!-- .xs-single-pricing END -->
                            </div>
                         
                           
                        </div>
                    </div><!-- #monthly END -->
                    <div class="tab-pane fadeIn animated" id="json" role="tabpanel" aria-labelledby="json-tab">
                        <div class="row">
                           
                            <div class="col-lg-12 col-md-12">
                             
                        
                                    <div class="pricing-body">
                                        <!-- HERE START FORMATTED TABLE -->
                                        <div class="typography-group">


                                            <div class="row">
               

                                                <div class="xs-heading style4 mb-5 col-md-12"> <!-- .mb-0 class only for demo -->
                            
                                              
                            
                                                      <p style="background: #1c2434f0; padding: 1em; color: chocolate;">
                                                      <span class="hc"><span style="font-size: 25px; color: chocolate;">&#123;</span><br>
                                                        "firstName"	: "{{resdata?.firstName || ""}}" <br>
                                                        "Id"                                :    "{{resdata?.id || ""}}"<br>	   
                                                        "internationalPhoneNumberVerified"	:   "{{resdata?.internationalPhoneNumberVerified || ""}}"<br>
                                                        "lastName"	                        :   "{{resdata?.lastName || ""}}"<br>
                                                        "originCountryIso2"	                :   "{{resdata?.originCountryIso2 || ""}}"<br>
                                                        "originCountryIso2Alt"	            :   "{{resdata?.originCountryIso2Alt || ""}}"<br>
                                                        "phoneCountryCode"	                :   "{{resdata?.phoneCountryCode || ""}}"<br>
                                                        "phoneCountryIso2"	                :   "{{resdata?.phoneCountryIso2 || ""}}"<br>
                                                        "phoneCountryIso2Alt"	            :   "{{resdata?.phoneCountryIso2Alt || ""}}"<br>
                                                        "phoneCountryIso2Verified"	        :   "{{resdata?.phoneCountryIso2Verified || ""}}"<br>
                                                        "phoneNumber"                       :	"{{resdata?.phoneNumber || ""}}"<br>
                                                        "score"	                            :   "{{resdata?.score || ""}}"<br>
                                                        "verified"	                        :   "{{resdata?.verified || ""}}"<br>
                                                        <span style="font-size: 25px; color: chocolate;">&#125;</span>
                                                      </span>
                            
                                                      </p>
                                          </div><!-- .xs-heading END -->
                                      </div>



                                        </div>

                                <!-- HERE END FORMATTED TABLE --> 
                                    </div><!-- .pricing-body END -->
                       
                               <!-- .xs-single-pricing END -->
                            </div>

                        </div>
                    </div><!-- #yearly END -->
                </div>
            </div>
        </div><!-- .row END -->
   


                            </div>
                        </div><!-- .single-blog-post-thumb END -->
            </div>
        </div>
     
    </div><!-- .container END -->
    <div class="parallax-icon-wraper">
        <img src="assets/images/hand-bloom.png" class="parallax-icon icon-one" alt="">
        <img src="assets/images/chart.png" class="parallax-icon icon-two" alt="">
    </div>
</section><!-- end get free quote section -->
<!-- banner strart -->

<section class="xs-banner" id="home">
    <div class="banner-slider owl-carousel">
		<div class="single-banner-slide" style="background-image: url(assets/images/pricing/hdr2.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="xs-banner-content">
                            <h2 class="banner-subtitle">Try our </h2>
                            <h3 class="banner-title">FREE international phone Code API</h3>
                            <p>In real-time via API or Bulk for phone list validation</p>
                            <div class="btn-wraper">
                                <a href="https://v2.namsor.com/NamSorAPIv2/sign-in.html" class="btn btn-secondary">Get Started</a>
                            </div>
                        </div><!-- .xs-banner-content END -->
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-image image-three">
                            <img src="assets/images/slider/slider-image3.png" alt="">
                        </div><!-- .banner-image .image-one END -->
                    </div>
                </div><!-- .row END -->
            </div><!-- .container END -->
        </div><!-- .single-banner-slide END -->
        <div class="single-banner-slide" style="background-image: url(assets/images/slider/slider-bg-1.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="xs-banner-content">
                            <h2 class="banner-subtitle">Our API will guess</h2>
                            <h3 class="banner-title">any personal name's</h3>
                            <h3 class="banner-title">country of origin, race or ethnicity</h3>
                            <!-- <h2 class="banner-subtitle">Digital Marketing</h2> -->
                               <div class="btn-wraper">
                                    <a href="https://v2.namsor.com/NamSorAPIv2/sign-in.html" class="btn btn-secondary">Get started</a>
                                </div>
                        </div><!-- .xs-banner-content END -->
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-image image-one">
                        </div><!-- .banner-image .image-one END -->
                    </div>
                </div><!-- .row END -->
            </div><!-- .container END -->
        </div><!-- .single-banner-slide END -->
        <div class="single-banner-slide slide-two" style="background-image: url(assets/images/pricing/hdr.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                       <!--  <div class="banner-image image-two">
                            <img src="assets/images/slider/slider-image2.png" alt="">
                        </div>.banner-image .image-one END -->
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="xs-banner-content">
                            <h3 class="banner-title">FREE PHONE VALIDATION</h3>
                            <p>WORKS WITH ANY NUMBERS WORLDWIDE 
                                AND ANY PHONE CARRIERS</p>
                            <div class="btn-wraper">
                                <a href="https://v2.namsor.com/NamSorAPIv2/sign-in.html" class="btn btn-secondary">Get Started</a>
                            </div>
                        </div><!-- .xs-banner-content END -->
                    </div>
                </div><!-- .row END -->
            </div><!-- .container END -->
        </div><!-- .single-banner-slide .slide-two END -->        
    </div><!-- .banner-slider .owl-carousel END -->
</section><!-- end banner strart -->




<!-- seo info section -->
<section class="xs-section-padding xs-seo-info" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="xs-info-img">
                    <img src="assets/images/info/info-1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="xs-info-wraper wow fadeInUp">
                    <div class="xs-heading">
                        <h2 class="banner-subtitle">Guess international phone code to </h2>                          
                        <h3 class="section-title">Overcome Google Phone Validator Limitations</h3>
                        <span class="line"></span>
                    </div>
                    <p>Google publishes a fantastic library for parsing, formatting, and validating international phone numbers : Google's libphonenumber is a popular service for phone validation, but it requires a phone number and the ISO2 code of the country as input. What if you have a name, a phone but don't know the country ? You are stuck !</p>
                    <ul class="xs-list check">
                        <li>phoneCode API is FREE up to 450 names per month</li>
                        <li>fast and secure, great for CRM and Call Centers</li>
                        <li>simple to integrate : OpenAPI v3 with SDKs (Java, Python, etc.)</li>
                    </ul>
                    <div class="btn-wraper">
                    <a href="https://v2.namsor.com/NamSorAPIv2/sign-in.html" class="btn btn-primary">Get Started</a>
                </div>
                </div><!-- .xs-info-wraper END -->
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section><!-- END seo info section -->

<!-- working process section -->
<section class="xs-section-padding primary-bg working-process-anim">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="xs-heading text-center">
                    <h2 class="section-subtitle">phoneCode API Machine Learning Flow</h2>
                    <h3 class="section-title ">A. I. powered, for great results</h3>
                </div><!-- .xs-heading END -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="row no-gutters working-process-group">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-work-process">
                            <div class="work-process-icon">
                                <img src="assets/images/pricing/a.png" alt="">
                            </div>
                            <h4 class="small">Select Code Language</h4>
                        </div><!-- .single-work-process END -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-work-process">
                            <div class="work-process-icon">
                                <img src="assets/images/pricing/1.png" alt="" style="height: 5em;">
                            </div>
                            <h4 class="small">Integrate</h4>
                        </div><!-- .single-work-process END -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-work-process">
                            <div class="work-process-icon">
                                <img src="assets/images/pricing/c.png" alt="" style="width: 7em;">
                            </div>
                            <h4 class="small">Set Free API Key</h4>
                        </div><!-- .single-work-process END -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-work-process">
                            <div class="work-process-icon">
                                <img src="assets/images/pricing/d.png" alt="">
                            </div>
                            <h4 class="small">Get Results</h4>
                        </div><!-- .single-work-process END -->
                    </div>
                </div><!-- .row end -->
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section><!-- END working process section -->


<!-- services section -->
<section class="xs-section-padding" id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="xs-heading text-center style2">
                    <h3 class="section-title">Services We Provide</h3>
                    <span class="line"></span>
                </div><!-- .xs-heading END -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs main-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-one-area" data-toggle="tab" href="#tab-one" role="tab" aria-controls="tab-one" aria-selected="true"><span class="icon-holder"><img src="assets/images/service-tab/icon-1.png" alt=""></span> Get started for free</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-two-area" data-toggle="tab" href="#tab-two" role="tab" aria-controls="tab-two" aria-selected="false"><span class="icon-holder"><img src="assets/images/service-tab/icon-2.png" alt=""></span> Guess Personal Name, Origin or Ethnicity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-three-area" data-toggle="tab" href="#tab-three" role="tab" aria-controls="tab-three" aria-selected="false"><span class="icon-holder"><img src="assets/images/service-tab/icon-3.png" alt=""></span>24/7 Full Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-four-area" data-toggle="tab" href="#tab-four" role="tab" aria-controls="tab-four" aria-selected="false"><span class="icon-holder"><img src="assets/images/service-tab/icon-4.png" alt=""></span> NamSor API </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-five-area" data-toggle="tab" href="#tab-five" role="tab" aria-controls="tab-five" aria-selected="false"><span class="icon-holder"><img src="assets/images/service-tab/icon-5.png" alt=""></span> Number Lookup</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fadeInRight animated show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one-area">
                        <div class="single-service-preview">
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <div class="service-preview-img">
                                        <img src="assets/images/service-tab/preview-1.png" alt="">
                                    </div><!-- .service-preview-img END -->
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="service-preview-content">
                                        <h4 class="xs-content-title">Get started for free</h4>
                                        <p>Our API is free to validate up to 450 names and phone numbers per month. We have additional subscription plans to support your organization with higher volumes.</p>

                                        <div class="btn-wraper">
                                            <a href="https://v2.namsor.com/NamSorAPIv2/sign-in.html" class="btn btn-primary">Try free</a>
                                        </div>
                                    </div><!-- .service-preview-content END -->
                                </div>
                            </div><!-- .row END -->
                        </div><!-- .single-service-preview END -->
                    </div><!-- #tab-one END -->

                    <div class="tab-pane fadeInRight animated" id="tab-two" role="tabpanel" aria-labelledby="tab-two-area">
                        <div class="single-service-preview">
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <div class="service-preview-img">
                                        <img src="assets/images/service-tab/preview-2.png" alt="">
                                    </div><!-- .service-preview-img END -->
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="service-preview-content">
                                        <h4 class="xs-content-title">Guess any personal name's Origin, 'Race' or Ethnicity</h4>
                                        <p>NamSor API will guess the personal name's country of origin, to prioritize which international phone number formats to try. For example, Andrea Rossini is an Italian name, so why not try an Italian phone number first? Our machine learning model (ML) combines both the personal name features, as well as the phone number formatting in order to validate to a E164 number with ~95% to 99% precision overall.</p>                                       
                                        <div class="btn-wraper">
                                            <a href="https://v2.namsor.com/NamSorAPIv2/sign-in.html" class="btn btn-primary">Try free</a>
                                        </div>
                                    </div><!-- .service-preview-content END -->
                                </div>
                            </div><!-- .row END -->
                        </div><!-- .single-service-preview END -->
                    </div><!-- #tab-two END -->

                    <div class="tab-pane fadeInRight animated" id="tab-three" role="tabpanel" aria-labelledby="tab-three-area">
                        <div class="single-service-preview">
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <div class="service-preview-img">
                                        <img src="assets/images/service-tab/preview-3.png" alt="">
                                    </div><!-- .service-preview-img END -->
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="service-preview-content">
                                        <h4 class="xs-content-title">24/7 Support</h4>
                                        <p>With state-of-the-art infrastructure, we provide 99.95% uptime and 24/7 monitoring and maintenance</p>
                                        
                                        <div class="btn-wraper">
                                            <a href="https://v2.namsor.com/NamSorAPIv2/sign-in.html" class="btn btn-primary">Try free</a>
                                        </div>
                                    </div><!-- .service-preview-content END -->
                                </div>
                            </div><!-- .row END -->
                        </div><!-- .single-service-preview END -->
                    </div><!-- #tab-three END -->

                    <div class="tab-pane fadeInRight animated" id="tab-four" role="tabpanel" aria-labelledby="tab-four-area">
                        <div class="single-service-preview">
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <div class="service-preview-img">
                                        <img src="assets/images/service-tab/preview-4.png" alt="">
                                    </div><!-- .service-preview-img END -->
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="service-preview-content">
                                        <h4 class="xs-content-title">Multicultural marketing</h4>
                                        <p>This service is powered by NamSor API, a powerful machine learning API to process personal names (detect gender, country of origin or ethnicity). </p>                                    
                                        <div class="btn-wraper">
                                            <a href="https://v2.namsor.com/NamSorAPIv2/sign-in.html" class="btn btn-primary">Try free</a>
                                        </div>
                                    </div><!-- .service-preview-content END -->
                                </div>
                            </div><!-- .row END -->
                        </div><!-- .single-service-preview END -->
                    </div><!-- #tab-four END -->

                    <div class="tab-pane fadeInRight animated" id="tab-five" role="tabpanel" aria-labelledby="tab-five-area">
                        <div class="single-service-preview">
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <div class="service-preview-img">
                                        <img src="assets/images/service-tab/preview-5.png" alt="">
                                    </div><!-- .service-preview-img END -->
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="service-preview-content">
                                        <h4 class="xs-content-title">Number Lookup </h4>
                                        <p>Improve customer data quality, simplify contact web forms, save money and increase conversion rates with our phone number validation. We’re able to catch invalid phone numbers as they’re entered, making sure future text messages will be delivered to a valid number.</p>
                                      
                                        <div class="btn-wraper">
                                            <a href="https://v2.namsor.com/NamSorAPIv2/sign-in.html" class="btn btn-primary">Try free</a>
                                        </div>
                                    </div><!-- .service-preview-content END -->
                                </div>
                            </div><!-- .row END -->
                        </div><!-- .single-service-preview END -->
                    </div><!-- #tab-five END -->
                </div>
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section><!-- END services section -->


<!-- pricing section -->
<section class="pricing-section xs-section-padding" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="xs-heading text-center">
                    <h2 class="section-subtitle">Start FREE, scale UP</h2>
                    <h3 class="section-title ">Pricing Plans</h3>
                </div><!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <div class="row">
            <div class="col-md-12 xs-pricing-group">
                <ul class="nav nav-tabs main-nav-tab tab-swipe wow fadeIn" role="tablist">
                    <li>
                        <a id="phoneCodeAPI-tab" class="active show" data-toggle="tab" href="#phoneCodeAPI" role="tab" aria-controls="monthly" aria-selected="true">phoneCode API</a>
                    </li>
                    <li>
                        <a id="namsorAPI-tab" data-toggle="tab" href="#namsorAPI" role="tab" aria-controls="yearly" aria-selected="false">NamSor API</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fadeIn animated show active" id="phoneCodeAPI" role="tabpanel" aria-labelledby="phoneCodeAPI-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="xs-single-pricing">
                                    <div class="pricing-header">
                                        <h3 class="xs-content-title">BASIC Plan</h3>
                                        <div class="pricing-img-block">
                                            <img src="assets/images/pricing/pricing-1.png" alt="hostinza pricing image">
                                        </div>
                                        <h2 class="price-table"><sup>$</sup>0 <sub>/mo</sub></h2>
                                    </div><!-- .pricing-header END -->
                                    <div class="pricing-body">
                                        <ul class="xs-list">
                                            <li>No credit card required</li>
                                            <li>Free up to 450 phoneCode per Month</li>
                                            <li>Price overage : 0.055 usd </li>
                                        </ul>
                                    </div><!-- .pricing-body END -->
                                    <div class="pricing-footer">
                                         <a href="https://v2.namsor.com/NamSorAPIv2/sign-in.html" class="btn btn-primary">Get Now</a>
                                    </div><!-- .pricing-footer END -->
                                    <div class="pulse-anim"></div>
                                </div><!-- .xs-single-pricing END -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="xs-single-pricing active">
                                    <div class="pricing-header">
                                        <h3 class="xs-content-title">PRO Plan</h3>
                                        <div class="pricing-img-block">
                                            <img src="assets/images/pricing/pricing-2.png" alt="hostinza pricing image">
                                        </div>
                                        <h2 class="price-table"><sup>$</sup>19 <sub>/mo</sub></h2>
                                    </div><!-- .pricing-header END -->
                                    <div class="pricing-body">
                                        <ul class="xs-list">
                                            <li>Included : 900 phoneCode per Month</li>
                                            <li>Lower price for overages</li>
                                            <li>Price overage : 0.033 usd </li>
                                        </ul>
                                    </div><!-- .pricing-body END -->
                                    <div class="pricing-footer">
                                        <a href="https://v2.namsor.com/NamSorAPIv2/sign-in.html" class="btn btn-primary">Get Now</a>
                                    </div><!-- .pricing-footer END -->
                                    <div class="pulse-anim"></div>
                                </div><!-- .xs-single-pricing END -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="xs-single-pricing">
                                    <div class="pricing-header">
                                        <h3 class="xs-content-title">ULTRA Plan</h3>
                                        <div class="pricing-img-block">
                                            <img src="assets/images/pricing/pricing-3.png" alt="hostinza pricing image">
                                        </div>
                                        <h2 class="price-table"><sup>$</sup>130 <sub>/mo</sub></h2>
                                    </div><!-- .pricing-header END -->
                                    <div class="pricing-body">
                                        <ul class="xs-list">
                                            <li>Included : 9000 phoneCode per Month</li>
                                            <li>Lower price for overages</li>
                                            <li>Price overage : 0.022 usd </li>
                                        </ul>
                                    </div><!-- .pricing-body END -->
                                    <div class="pricing-footer">
                                        <a href="https://v2.namsor.com/NamSorAPIv2/sign-in.html" class="btn btn-primary">Get Now</a>
                                    </div><!-- .pricing-footer END -->
                                    <div class="pulse-anim"></div>
                                </div><!-- .xs-single-pricing END -->
                            </div>
                        </div>
                    </div><!-- #monthly END -->
                    <div class="tab-pane fadeIn animated" id="namsorAPI" role="tabpanel" aria-labelledby="namsorAPI-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="xs-single-pricing">
                                    <div class="pricing-header">
                                        <h3 class="xs-content-title">BASIC Plan</h3>
                                        <div class="pricing-img-block">
                                            <img src="assets/images/pricing/pricing-1.png" alt="hostinza pricing image">
                                        </div>
                                        <h2 class="price-table"><sup>$</sup>0 <sub>/mo</sub></h2>
                                    </div><!-- .pricing-header END -->
                                    <div class="pricing-body">
                                        <ul class="xs-list">
                                            <li>1 phoneCode API call uses 11 units</li>
                                            <li>Free up to 5000 units per Month</li>
                                            <li>Price overage : 0.005 usd</li>
                                        </ul>
                                    </div><!-- .pricing-body END -->
                                    <div class="pricing-footer">
                                        <a href="https://v2.namsor.com/NamSorAPIv2/sign-in.html" class="btn btn-primary">Get Now</a>
                                    </div><!-- .pricing-footer END -->
                                    <div class="pulse-anim"></div>
                                </div><!-- .xs-single-pricing END -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="xs-single-pricing active">
                                    <div class="pricing-header">
                                        <h3 class="xs-content-title">PRO Plan</h3>
                                        <div class="pricing-img-block">
                                            <img src="assets/images/pricing/pricing-2.png" alt="hostinza pricing image">
                                        </div>
                                        <h2 class="price-table"><sup>$</sup>19 <sub>/mo</sub></h2>
                                    </div><!-- .pricing-header END -->
                                    <div class="pricing-body">
                                        <ul class="xs-list">
                                            <li>Included : 10,000 units</li>
                                            <li>Lower price for overages</li>
                                            <li>Price overage : 0.003 usd</li>
                                        </ul>
                                    </div><!-- .pricing-body END -->
                                    <div class="pricing-footer">
                                        <a href="https://v2.namsor.com/NamSorAPIv2/sign-in.html" class="btn btn-primary">Get Now</a>
                                    </div><!-- .pricing-footer END -->
                                    <div class="pulse-anim"></div>
                                </div><!-- .xs-single-pricing END -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="xs-single-pricing">
                                    <div class="pricing-header">
                                        <h3 class="xs-content-title">ULTRA Plan</h3>
                                        <div class="pricing-img-block">
                                            <img src="assets/images/pricing/pricing-3.png" alt="hostinza pricing image">
                                        </div>
                                        <h2 class="price-table"><sup>$</sup>130 <sub>/mo</sub></h2>
                                    </div><!-- .pricing-header END -->
                                    <div class="pricing-body">
                                        <ul class="xs-list">
                                        <li>Easy to access</li>
                                            <li>Included : 100,000 units</li>
                                            <li>Lower price for overages</li>
                                            <li>Price overage : 0.002 usd</li>
                                        </ul>
                                    </div><!-- .pricing-body END -->
                                    <div class="pricing-footer">
                                        <a href="https://v2.namsor.com/NamSorAPIv2/sign-in.html" class="btn btn-primary">Get Now</a>
                                    </div><!-- .pricing-footer END -->
                                    <div class="pulse-anim"></div>
                                </div><!-- .xs-single-pricing END -->
                            </div>
                        </div>
                    </div><!-- #yearly END -->
                </div>
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section><!-- END pricing section -->

<!-- testimonials section -->
<section class="xs-section-padding testimonial-section gradient-bg" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="xs-heading text-center">
                    <h2 class="section-subtitle">Client’s love</h2>
                    <h3 class="section-title ">Love from Clients</h3>
                </div><!-- .xs-heading END -->
            </div>
        </div><!-- .row END -->
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="testimonial-slider-preview owl-carousel" id="sync5">
                    <div class="single-testimonial-preview">
                        <p>“ This is amazing ... this API works with my personal phone number 917.756.8000 ”</p>
                        <span class="border-line"></span>
                    </div><!-- .single-testimonial-preview END -->
                    <div class="single-testimonial-preview">
                        <p>“ We love this API ! We validate phone numbers from different GDS, PMS seamlessly. ”</p>
                        <span class="border-line"></span>
                    </div><!-- .single-testimonial-preview END -->
                </div>
                <div class="testimonial-slider-thumb owl-carousel" id="sync6">
                    <div class="single-bio-thumb">
                        <div class="bio-image">
                            <img src="assets/images/testimonial/testimonial-1.jpg" alt="">
                        </div>
                        <div class="bio-info">
                            <h4 class="small">Donald Trump</h4>
                            <p>POTUS</p>
                        </div>
                    </div><!-- .single-bio-thumb END -->
                    <div class="single-bio-thumb">
                        <div class="bio-image">
                            <img src="assets/images/testimonial/testimonial-2.jpg" alt="">
                        </div>
                        <div class="bio-info">
                            <h4 class="small">Travel industry leader</h4>
                            <p>An app connecting guests with every global distribution system GDS, booking center, hotel property management system PMS on Earth.</p>
                        </div>
                    </div><!-- .single-bio-thumb END -->
                </div>
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section><!-- END testimonials section -->

<!-- latest media section -->


